body,h1{
  padding-top:80px;
  word-wrap:break-word;
  font-family: 'Quicksand', sans-serif;
  color: #ff1e47;
  background: linear-gradient(#e66465, #9198e5);
  text-align: center;
}
.form-control{
  border:2px solid #cf0cc0;
}
img{
  height: 200px;
}

.message{
  border:2px solid purple;
  background-color: white;
  border-radius: 5%;
}

.red {
  border-radius: 50%;
  background: red;
  height: 100px;
  width: 100px;
  outline: 0;
}

.blue {
  border-radius: 50%;
  background: blue;
  height: 100px;
  width: 100px;
  outline: 0;
}

.green {
  border-radius: 50%;
  background: green;
  height: 100px;
  width: 100px;
  outline: 0;
}

.purple {
  border-radius: 50%;
  background: purple;
  height: 100px;
  width: 100px;
  outline: 0;
}


.yellow {
  border-radius: 50%;
  background: yellow;
  height: 100px;
  width: 100px;
  outline: 0;
}
